@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Livro
    </a>
</p>

<table id="gridDados">
    <thead>
        <tr>
            <th data-column-id="Titulo" data-order="asc">Título</th>
            <th data-column-id="Autor">Autor</th>
            <th data-column-id="AnoEdicao">Ano da Edição</th>
            <th data-column-id="Valor">Valor</th>
        </tr>
    </thead>
</table>

@section scripts {

    <script src="~/Scripts/jquery.bootgrid.js"></script>
    <script type="text/javascript">

        $(document).ready(configurarControles);

        function configurarControles() {
            $("#gridDados").bootgrid(
                {
                    ajax: true,
                    url: "@Url.Action("Listar")"
                }
            );
        }

    </script>

}